<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kucode.oriound" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-feature android:name="android.hardware.sensor.accelerometer" android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <service
            android:name=".FetchAddressIntentService"
            android:exported="false" />
        <service
            android:name=".TTSService"
            android:exported="false" />

        <activity
            android:name=".MenuActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_menu"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".FavouriteActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_favourite"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".MapActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_free"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".FavouriteListActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_favourite_list"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".SplashScreenActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
